<div {{ init_live_component(this) }} data-action="change->live#update">
	{{ form_start(this.form, {
    attr: {
        'data-action': 'live#action',
        'data-action-name': 'prevent|save'
    }
}) }}
	{{ form_row(this.form.text) }}
	<button type="submit">Create</button>
	{{ form_end(this.form) }}
</div>
