<div {{ init_live_component(this) }} data-poll>
	{% set task = null %}
	{{ component('create_task_form', {
        task: task,
        form: this.form
    }) }}


	{% for task in this.tasks %}
		<br>{{ task.text }}
	{% endfor %}
</div>
