<div {{ init_live_component(this) }} data-poll>
	{% set task = null %}
	{{ component('create_task_form', {
        task: task,
        form: this.form
    }) }}
	<div>
		Filter:
		<button value="all" data-model="filter" data-action="live#update">All</button>
		|
		<button value="not-done" data-model="filter" data-action="live#update">To do</button>
		|
		<button value="done" data-model="filter" data-action="live#update">Done</button>
		|
		{{ this.filter }}
	</div>


	{% for task in this.tasks %}
		{{ component('task_item', {
        task: task
    }) }}
	{% endfor %}
</div>
